WANDB_API_KEY = #Enter your Wandb API key here
WANDB_PROJECT = #Enter your project name here for consolidating project runs in Wandb
HF_TOKEN = #Enter your HuggingFace token here for logging into HuggingFace and using hosted models