#Environment related files and folders
.env
.venv
env/
.venv/

#Tracking runs
wandb/

#Language identifying repo and associated files
idiomata_cognitor/
model_files/

#Caches and other miscellaneous files
unsloth_compiled_cache/
.ipynb_checkpoints/
__pycache__/
*.pyc